<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>嘉然今天吃什么？</title>
    <meta name="keywords" content="嘉然今天吃什么" />
    <meta name="description" content="嘉然今天吃什么" />
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">
    <link rel="shortcut icon" href="./favicon.ico">
    <link rel="stylesheet" href="https://lf26-cdn-tos.bytecdntp.com/cdn/expire-2-M/bootstrap/5.1.3/css/bootstrap.min.css">
    <style type="text/css">
    .html{font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif!important;} 
    #start{background:#E799B0; border:#c9778f; color: #fff;}
    #start:hover{background: #c9778f}
    body{background: linear-gradient(#FFFFFFaa,#FFFFFFaa),url(https://s2.loli.net/2022/03/22/r47ViYx6ynhLCQb.jpg) no-repeat fixed top}
</style>
</head>

<body>
  <div id="app" class="container d-flex flex-column justify-content-center" style="height: 100vh;">
    <div class="row justify-content-center">
      <div class="col-12 col-md-6">
        <div class="card mt-5" v-if="!finished">
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <div class="spinner-border" role="status" style="color: #E799B0;">
              <span class="visually-hidden">少女挨饿中...</span>
            </div>
            <h3 class="mt-3">稍等哟，🍓嘉然马上就来~</h3>
          </div>
        </div>
        <div class="card mt-5 ms-3 me-3" v-if="finished">
          <div class="card-body d-flex flex-column align-items-center justify-content-center">
            <div class="d-flex flex-column flex-lg-row align-items-center justify-content-center mb-3">
              <div style="position: relative;width:200px;height:200px" class="mt-2 mb-2">
                <img class="d-inline-block rounded" width="200" :src="currentPic">
                <div id="spicy" style="width:200px;height:200px; position: absolute ;top: 0; right: 0; bottom: 0; left: 0;"></div>
              </div>
              
              <div class="d-inline-block ms-lg-4 mt-2 mb-2">
                <div class="d-flex flex-column align-items-center">
                  <h2>嘉然今天吃什么？</h2>
                  <br>
                  <h4 style="color:#E799B0" >{{currentName}}</h4>
                  <br>
                  <small>{{currentTooltipText}}</small>
                </div>
              </div> 
            </div>

            <button id="start" @click="start();" class="btn text-nowrap" type="button">吃什么捏？</button>
            <button id="stop" @click="stop" class="btn btn-danger text-nowrap" type="button" style="display: none;">停止</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/2.6.14/vue.min.js"></script>
<script src="https://lf3-cdn-tos.bytecdntp.com/cdn/expire-1-M/axios/0.26.0/axios.min.js"></script>
<script src="https://lf9-cdn-tos.bytecdntp.com/cdn/expire-1-M/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript">
var app = new Vue({
  el:'#app',
  data() {
    return {
      menu: [],
      imgArr: [],
      currentPic: "https://s2.loli.net/2022/03/22/Rf9Z13zehCO4XEM.gif",
      currentName: "",
      currentTooltipText: "",
      finished: false,
    }
  },
  created() {
    axios
    .get('./menu.json')
    .then(res => {
      this.menu = res.data.menu;
      this.preload(res.data.imgArr).then(res=>{
        this.finished = true
      })
    })
  },
  mounted() {
  },
  methods: {
    start(){
      $('#start').css("display", "none");
      $('#stop').css("display", "block");    
      timer = setInterval(function () {
        var r = Math.ceil(Math.random() * app.menu.length),
        food = app.menu[r - 1];
        app.currentName = food.name;
        if(food.easteregg.text){
          app.currentTooltipText = '💭 ' + food.easteregg.text;
        }else{
          app.currentTooltipText = '...';
        }
        
        if(food.easteregg.img) {
          app.currentPic = food.easteregg.img;
        }else{
          app.currentPic = "https://s2.loli.net/2022/03/22/6gPctLmrQRdEfbl.gif";
        }

        if(food.spicy) {
          let j = Math.ceil(Math.random() * 10);
          for (i = 1; i < j; i++) {
            var rTop = Math.ceil(Math.random() * 200),
              rLeft = Math.ceil(Math.random() * 200),
              rSize = Math.ceil(Math.random() * (37 - 14) + 14);
            $("<span style='position:absolute'></span>").html('🥵').hide().css({
              "top": rTop + "px",
              "left": rLeft + "px",
              "fontSize": rSize + "px"
            }).appendTo("#spicy").fadeIn(i * 50, function () {
              $(this).fadeOut(i * 50, function () {
                $(this).remove();
              });
            });
          }
        }
      }, 150);
    },
    stop(){      
      clearInterval(timer);
      $('#stop').css("display", "none");
      $('#start').css("display", "block");
      $('#start').html("不要，换一个");
    },
    loadImg(url) {
      let img = new Image()
      img.src = url
      return new Promise((resolve, reject) => {
        img.onload = () => {
          resolve(img)
        }
        img.onerror = (e) => {
          reject(e)
        }
      })
    },
    preload(arr){
      let result = []
      arr.forEach(item => {
        let img = new Image()
        img.src = item
        let p = new Promise((resolve, reject) => {
          img.onload = () => {
            resolve(img)
          }
          img.onerror = (e) => {
            reject(e)
          }
        })
        result.push(p)
      });
      return Promise.all(result).then(() => {
        console.log("All Pics Loaded")
      }).catch((err) => {
        console.log(err)
      });
    }
  }
})
</script>
</html>
